* {
  padding: 0;
  margin: 0;
  font-size: small;
}

header {
  background-color: gold;
  padding: 20px;
  text-align: left;
}

.links {
  overflow: hidden;
  background-color: purple;
  color: gold;
  display: flex;
  justify-content: flex-end;
}

.links li a {
  display: block;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.links li a:hover {
  background-color: #ddd;
  color: black;
}

.main {
  display: block;
  justify-content: start;
  margin-top: 300px;
}

img {
  background-image: url("./Next_gen_2.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 50px;
}

.greeting {
  margin-bottom: 25px;
}

.p1 {
  display: none;
  border: 5px solid purple;
  text-align: justify;
  overflow: auto;
  background-color: gray;
  padding-bottom: 30px;
}

.greeting:hover .p1 {
  transition: all 0.25s ease-in;
  display: block;
  background-color: yellow;
}

h2 {
  font-size: 50px;
}

.work {
  margin-bottom: 50px;
}

.p2 {
  display: none;
  border: 5px solid purple;
  text-align: justify;
  overflow: auto;
  background-color: gray;
  padding-bottom: 30px;
}

.work:hover .p2 {
  display: block;
  background-color: yellow;
}

.contact-me {
  font-size: 50px;
}

.p3 {
  display: none;
  border: 5px solid purple;
  text-align: justify;
  overflow: auto;
  background-color: gray;
  padding-bottom: 30px;
}

.contact-me:hover .p3 {
  display: block;
  background-color: yellow;
}
